







{{#if update}}

<div class="alert alert-danger">
      {{update}}
</div>
-
{{/if}}




<div style="display:flex;flex-wrap:wrap">
<div style="width:30%">
<a class="gallery-item col-lg-4" href="single.html">
    <img src="images/carpenter.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" width="80%" height="100%"> 
    <span class="overlay">
        <h2>carpenter</h2>

    </span>
</a>

</div>

<div style="width:30%">
<a class="gallery-item col-lg-4" href="single.html">
    <img src="images/driver.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" width="80%" height="100%">
    <span class="overlay">
        <h2>driver</h2>

    </span>
</a>
</div>


<div style="width:30%">
<a class="gallery-item col-lg-4" href="single.html"></a>
<img src="images/electrician.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" width="80%" height="100%">
<span class="overlay">
    <h2>Mechanics</h2>

</div>
<div style="width:30%;margin-top:10%">
<a class="gallery-item col-lg-4" href="single.html">
    <img src="images/labours.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" width="80%" height="100%">
    <span class="overlay">
        <h2>labour</h2>

    </span>
</a>
</div>


<div style="width:30%;margin-top:10%">
<a class="gallery-item col-lg-4" href="single.html">
    <img src="images/hometutor.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" width="80%" height="100%">
    <span class="overlay">
        <h2>home tutor</h2>

    </span>
</a>
</div>



<div style="width:30%;margin-top:10%">
<a class="gallery-item col-lg-4" href="single.html">
    <img src="images/plumber.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" width="80%" height="100%">
    <span class="overlay">
        <h2>plumber</h2>

    </span>
</a>
</div>









</span>
</a>
</div>
</div>