


	{{#if error}}
		<div class='alert alert-success'> {{error}}</div>

		{{/if}}










{{#if success_message}}

<div class="alert alert-danger">
      {{success_message}}
</div>

{{/if}}



<h1>this is login page</h1>


<form action="/loginus" method="post">
  <fieldset>
   

 <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>



    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" >
    </div>



    <fieldset class="form-group">
      
      
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>